
.par {
    color: rgb(255, 153, 0);
}

.list {
    flex-direction: column;
}

.belt {
    background-image: url(../img/belt1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    text-align: center;
    background-size: cover;
}

.sneacers {
    background-image: url(../img/sneakers1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    text-align: center;
    background-size: cover;
}

.craft {
    background-image: url(../img/scarf1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    text-align: center;
    background-size: cover;
}

.ms-5 {
    margin-left: 0px !important;
}

.py-2 {
    padding-bottom: 0px !important;
}

@media (min-width: 576px) {

    .range {
        width: 450px;
        height: 200px;
    }

    .par {
        color: saddlebrown;
    }
    
    .belt {
        background: url(../img/belt.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .sneacers {
        background-image: url(../img/sneakers.jpg);
        background-size: cover;
    }
    
    .craft {
        background-image: url(../img/scarf.jpg);
        background-size: cover;
    }

    .list {
        flex-direction: row;
    }
    
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    
    .hov:hover .description {
        text-decoration: underline;
    } 
    
    .hov:hover .btn {
        color: black;
        background: blanchedalmond;
    }
    
    .menu {
        text-decoration: none;
    }
    
    .range:hover > .menu {
        text-decoration: underline;
    }
    li {
        list-style-type: none;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .lin {
        text-decoration: none;
        display: block;
        color: gray;
    }
    
    .lin:hover {
        color: black;
    }
    
    .navbar a.linkk {
        color: blue;
    }
    
    #link1:hover {
        color: rgb(255, 255, 255);
    }
    
    #link2:hover {
        color: rgb(255, 255, 255);
    }
    
    #link3:hover {
        color: rgb(255, 255, 255);
    }
    
    #link4:hover {
        color: rgb(255, 255, 255);
    }
    
    #link5:hover {
        color: rgb(255, 255, 255);
    }
    
    #link6:hover {
        color: rgb(255, 255, 255);
    }
    
    /* .belt {
        grid-area: belt;
    }
    
    .sneacers {
        grid-area: sneacers;
    }
    
    .craft {
        grid-area: craft;
    } */

}
